/* root */
:root {
    --roboto-font: 'Roboto', sans-serif;
}

/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* core */
html, body {
    font-family: var(--roboto-font);
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    font-size: 1rem;
}

img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1250px;
    margin: auto;
    padding: 1.25rem .75rem;
}

.logo-color {
    color: rgb(91,181,67);
}

/* buttons */
.register-now-btn {
    border: 1px solid #fff;
    padding: .75rem 2rem;
    border-radius: 10px;
}

.register-now-btn:hover {
    opacity: .5;
}

.btn-primary {
    display: inline-block;
    padding: .5rem 3rem;
    background: rgb(91,181,67);
    border: 1px solid rgb(91,181,67);
    color: #fff;
    border-radius: 5px;
    transition: .2s all;
}

.btn-primary:hover {
    background-color: #fff;
    color: #000;
}

.register-btn-utility {
    background: transparent;
}

.register-btn-utility:hover {
    background: transparent;
    color: rgb(98, 205, 53);
}

/* fonts */
.font-2 {
    font-size: 2.75rem;
}

/* Margin classes */
.mb-1 { margin-bottom: 1rem; }
.mb-2 { margin-bottom: 2rem; }
.mb-3 { margin-bottom: 3rem; }
.mb-4 { margin-bottom: 4rem; }

.mt-1 { margin-top: 1.25rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }

/* badges */
.verified-badge {
    display: inline-block;
    background: yellowgreen;
    padding: .2rem .75rem;
    border-radius: 20px;
    color: #ffff;
    font-size: .75rem;
}

/* hambuger menu */
.hamburger-menu {
    cursor: pointer;
    display: none;
}

.hamburger-menu .menu-line {
    width: 32px;
    height: 2px;
    margin-bottom: 10px;
    background: #fff;
}

/* div: top-section */
#top-section {
    background: url("../images/hero-bg-image.jpg") no-repeat center center/cover;
    color: #fff;
    /* height: 70vh; */
    z-index: 0;
    position: relative;
    padding-bottom: 6rem;
}

#top-section::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

#top-section .top-section-container {
    z-index: 1000;
    height: 100%;
    z-index: 1;
}

#top-section .top-section-container .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-section .top-section-container .top-nav .center-navigation,
#top-section .top-section-container .top-nav .right-buttons {
    display: flex;
    align-items: center;
    gap: 25px;
}

#top-section .top-section-container .top-nav .center-navigation a,
#top-section .top-section-container .top-nav .right-buttons a {
    color: #fff;
}

#top-section .top-section-container .top-nav .center-navigation a:hover {
    color: rgb(91,181,67);
}

#top-section .top-section-container .center-text-container {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#top-section .top-section-container .center-text-container .service-and-companies {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

#top-section .top-section-container .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.75rem;
}

#top-section .top-section-container .center-text-container .service-and-companies .services,
#top-section .top-section-container .center-text-container .service-and-companies .companies  {
    display: flex;
    align-items: center;
    gap: 5px;
}

#top-section .top-section-container .center-text-container .service-and-companies .services div:first-child,
#top-section .top-section-container .center-text-container .service-and-companies .companies div:first-child {
    background: rgb(91,181,67);
    padding: .5rem;
    border-radius: 5px;
}

#top-section .top-section-container .search-form {
    display: flex;
    flex-direction: row;
}

#top-section .top-section-container .search-form .form-group {
    display: flex;
    align-items: center;
    position: relative;
}

#top-section .top-section-container .search-form .form-group i {
    color: #000;
    position: absolute;
    padding: 0 0 0 1rem;
    top: 27px;
    cursor: pointer;
}

#top-section .top-section-container .search-form .form-group input {
    font-size: 1.2rem;
    padding: 1.5rem 2.75rem;
    border: none;
    outline: none;
}

#top-section .top-section-container .search-form .form-group.service-search input {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#top-section .top-section-container .search-form .wrapper-form-group .form-group input[type="text"] {
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px ;
    padding-right: 120px;
}

#top-section .top-section-container .search-form .wrapper-form-group {
    position: relative;
}

#top-section .top-section-container .search-form .wrapper-form-group > input {
    position: absolute;
    right: 0;
    top: 26.5%;
    right: 5%;
    background: rgb(91,181,67);
    color: #ffff;
    padding: .25rem .5rem;
    border: none;
    padding: .55rem 1.75rem;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(91,181,67);
    transition: .25s all;
}

#top-section .top-section-container .search-form .wrapper-form-group > input:hover {
    background: #fff;
    color: #000;
}

/* section: why-choose-us */
#why-choose-us {
    height: 30vh;
}

#why-choose-us .why-choose-us-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2;
    height: 100%;
}

/* section: why-choose-section */
#why-choose-section .why-choose-section-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 10px;
}

#why-choose-section .why-choose-section-container .text-section {
    justify-self: left;
    line-height: 2;
    max-width: 400px;
    margin: auto;
}

#why-choose-section .why-choose-section-container .image-section .img-container img {
    border-radius: 10px;
}

/* section: feedback */
#feedback .feedback-container .top-container {
    line-height: 2;
}

#feedback .feedback-container .top-container  .feedback-top-desc {
    max-width: 500px;
}

#feedback .feedback-container .feedback-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    line-height: 1.5;
}

#feedback .feedback-container .feedback-section .feedback-text-section .feedback-user-details {
    margin-top: 1.25rem;
}

#feedback .feedback-container .feedback-section .feedback-text-section .review-text {
    font-weight: bold;
}

#feedback .feedback-container .feedback-section .feedback-img-section {
    display: flex;
    justify-content: center;
}

#feedback .feedback-container .feedback-section .feedback-img-section img {
    width: 350px;
    border-radius: 5px;
}

/* section: register-user */
#register-user {
    background: url('../images/shiny_svg.svg') no-repeat center center/cover;
}

#register-user .register-user-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    grid-gap: 20px;
}

#register-user .register-user-container .img-container {
    justify-self: end;
}

#register-user .register-user-container .img-container img {
    width: 400px;
    border-radius: 5px;
}

#register-user .register-user-container .text-div {
    color: #fff;
    line-height: 1.75;
    justify-self: left;
    align-self: center;
}

/* footer */
footer .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footer-container .links-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

footer .footer-container .links-group a {
    border-bottom: 1px dotted black;
}

footer .footer-container .links-group a:hover {
    color: #333;
}