/* resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* core */
a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    font-size: 1rem;
}

.container {
    max-width: 1250px;
    margin: auto;
    padding: 1.25rem .75rem;
}

/* div: top-section */
#top-section {
    background: url('../images/hero-bg-image.jpg') no-repeat center center/cover;
    color: #fff;
}

#top-section .top-section-container .top-nav {
    display: flex;
    justify-content: space-between;
}